{{ asset_add('styles.css', 'anomaly.extension.posts_archives_block::css/block.css') }}

<ul>
    {% for year, archives in entries('posts').archives().orderBy('year', 'DESC').orderBy('month', 'DESC').get().groupBy('year') %}
        <li>
            <a href="{{ url_route('anomaly.module.posts::posts.archive', {'year': year}) }}">
                {{ year }}
            </a>

            {#<ul>#}
                {#{% for archive in archives %}#}
                    {#<li>#}
                        {#<a href="{{ url_route('anomaly.module.posts::posts.archive', {'year': year, 'month': archive.month}) }}">#}
                            {#{{ carbon().createFromFormat('!m', archive.month).format('F') }}#}
                        {#</a>#}
                    {#</li>#}
                {#{% endfor %}#}
            {#</ul>#}
        </li>
    {% endfor %}
</ul>
